     .bghelp2 {
     background-image: url("../IMAGES/bg/bg3.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover !important;
 }
 
 .custom-shape-divider-bottom-1608022188 {
     width: 100%;
     overflow: hidden;
     line-height: 0;
 }
 
 .custom-shape-divider-bottom-1608022188 svg {
     position: relative;
     display: block;
     width: calc(100% + 1.3px);
     height: 329px;
 }
 
 .custom-shape-divider-bottom-1608022188 .shape-fill {
     fill: #FFFFFF;
 }
 
 .text2 {
     padding-top: 5rem;
     font-size: 4rem;
     font-weight: 800;
     /* background: #8e56fd; */
     background: -webkit-linear-gradient(#8e56fd, #eb7a98);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }
 /* WHY CHOOSE US section start  */
 
 .whybg {
     background-position: top !important;
     background-repeat: no-repeat;
     background-size: cover !important;
     /* fallback colour. Make sure this is just one solid colour. */
     background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("../IMAGES/bg/bg4.png");
     background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("../IMAGES/bg/bg4.png");
     /* The least supported option. */
 }
 
 .fcolor {
     color: gold !important;
 }
 
 .container-skills {
     margin: 0;
     max-width: 100%;
 }
 
 .bar {
     position: relative;
     background-color: #d8d8d8;
     height: 10px;
     border-radius: 25px;
     margin: 0 0 20px 0;
 }
 
 .bar-fill {
     position: absolute;
     height: 10px;
     border-radius: 25px;
 }
 
 .bar-title {
     position: relative;
     font-size: 14px;
     font-weight: 600;
     text-align: left;
     margin: 0 0 5px 10px;
     line-height: 1.5;
     color: #ffffff;
 }
 
 .percent {
     position: absolute;
     right: 0;
     color: #ffffff;
 }
 /* Animations Below - Replace ease-out with infinite for infinite loop*/
 /*Edit here for html*/
 
 .bar-fill-html {
     width: 90%;
     background-color: rgba(39, 18, 231, 0.8);
     animation: bar-fill-html 2s ease-out;
     -moz-animation: bar-fill-html 2s ease-out;
     -webkit-animation: bar-fill-html 2s ease-out;
 }
 
 @keyframes bar-fill-html {
     0% {
         width: 0px;
     }
     100% {
         width: 90%;
     }
 }
 
 @-moz-keyframes bar-fill-html {
     0% {
         width: 0px;
     }
     100% {
         width: 90%;
     }
 }
 
 @-webkit-keyframes bar-fill-html {
     0% {
         width: 0px;
     }
     100% {
         width: 90%;
     }
 }
 /*Edit here for Javascript*/
 
 .bar-fill-javascript {
     width: 60%;
     background-color: rgba(39, 18, 231, 0.8);
     animation: bar-fill-javascript 2s ease-out;
     -moz-animation: bar-fill-javascript 2s ease-out;
     -webkit-animation: bar-fill-javascript 2s ease-out;
 }
 
 @keyframes bar-fill-javascript {
     0% {
         width: 0px;
     }
     100% {
         width: 60%;
     }
 }
 
 @-moz-keyframes bar-fill-javascript {
     0% {
         width: 0px;
     }
     100% {
         width: 60%;
     }
 }
 
 @-webkit-keyframes bar-fill-javascript {
     0% {
         width: 0px;
     }
     100% {
         width: 60%;
     }
 }
 /*Edit here for Jquery*/
 
 .bar-fill-jquery {
     width: 84%;
     background-color: rgba(39, 18, 231, 0.8);
     animation: bar-fill-jquery 2s ease-out;
     -moz-animation: bar-fill-jquery 2s ease-out;
     -webkit-animation: bar-fill-jquery 2s ease-out;
 }
 
 @keyframes bar-fill-jquery {
     0% {
         width: 0px;
     }
     100% {
         width: 70%;
     }
 }
 
 @-moz-keyframes bar-fill-jquery {
     0% {
         width: 0px;
     }
     100% {
         width: 70%;
     }
 }
 
 @-webkit-keyframes bar-fill-jquery {
     0% {
         width: 0px;
     }
     100% {
         width: 70%;
     }
 }
 /*Edit here for Responsive*/
 
 .bar-fill-responsive {
     width: 94%;
     background-color: rgba(39, 18, 231, 0.8);
     animation: bar-fill-responsive 2s ease-out;
     -moz-animation: bar-fill-responsive 2s ease-out;
     -webkit-animation: bar-fill-responsive 2s ease-out;
 }
 
 @keyframes bar-fill-responsive {
     0% {
         width: 0px;
     }
     100% {
         width: 90%;
     }
 }
 
 @-moz-keyframes bar-fill-responsive {
     0% {
         width: 0px;
     }
     100% {
         width: 90%;
     }
 }
 
 @-webkit-keyframes bar-fill-responsive {
     0% {
         width: 0px;
     }
     100% {
         width: 90%;
     }
     /* WHY CHOOSE US section end */