a {
    color: rgb(69, 42, 100) !important;
}

.bghelp4 {
    background-image: url("../IMAGES/bg/bg6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
}

.custom-shape-divider-bottom-1608022188 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1608022188 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 329px;
}

.custom-shape-divider-bottom-1608022188 .shape-fill {
    fill: #FFFFFF;
}


/* User Reviews section start  */

@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.testimonial6 {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
}

.testimonial6 h1,
.testimonial6 h2,
.testimonial6 h3,
.testimonial6 h4,
.testimonial6 h5,
.testimonial6 h6 {
    color: #3e4555;
}

.testimonial6 .font-weight-medium {
    font-weight: 500;
}

.testimonial6 h5 {
    line-height: 22px;
    font-size: 18px;
}

.testimonial6 .subtitle {
    color: #8d97ad;
    line-height: 24px;
    font-size: 16px;
}

.testimonial6 .testi6 .nav-link {
    border-radius: 0px;
    margin: 8px -2px 8px 0;
}

.testimonial6 .testi6 .nav-link img {
    width: 110px;
    opacity: 0.5;
}

.testimonial6 .testi6 .nav-link.active {
    background: #ED4082;
    background: -webkit-radial-gradient(bottom right, #ED4082, #0E6199);
    background: -moz-radial-gradient(bottom right, #ED4082, #0E6199);
    background: radial-gradient(to top left, #ED4082, #0E6199);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-right: 3px solid #49aef1;
}

.testimonial6 .testi6 .nav-link.active img {
    opacity: 1;
}

.testimonial6 .btn-danger {
    background: #ea4dff !important;
    border: 1px solid #ea4dff !important;
}

.testimonial6 .btn-md {
    width: 100px;
    height: 100px;
    font-size: 50px;
}


/* User Reviews section end  */