a {
    text-decoration: none !important;
}

.navbar-nav {
    margin-left: auto;
    /* margin-top: 100px; */
}

.span1 {
    font-size: 40px;
    font-weight: 800;
    background: #ED4082;
    background: -webkit-radial-gradient(bottom right, #ED4082, #0E6199);
    background: -moz-radial-gradient(bottom right, #ED4082, #0E6199);
    background: radial-gradient(to top left, #ED4082, #0E6199);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Oswald', sans-serif !important;
}

.span2 {
    color: white !important;
    font-size: 40px;
    font-family: 'Oswald', sans-serif !important;
}

.bg-darks {
    transition: 550ms ease-in;
    background: transparent;
}

.bg-darks.scrolled {
    background-color: #d4d1d1!important;
}

.link a {
    color: rgb(255, 255, 255) !important;
}

.link a:hover {
    background: -webkit-linear-gradient(#8e56fd, #eb7a98);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.active1 {
    background: -webkit-linear-gradient(#8e56fd, #eb7a98);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn:hover {
    background-color: #6a3e8e !important;
    color: white !important;
}


/* ==========================================================================
   #BACKGROUND
   ========================================================================== */

.bg-blue {
    background: #2c6ed5;
}

.bg-red {
    background: #fa4251;
}

.bg-gra-01 {
    background: #F96458;
    background: -webkit-linear-gradient(top left, #F96458, #1A10E6);
    background: -moz-linear-gradient(top left, #F96458, #1A10E6);
    background: linear-gradient(to bottom right, #F96458, #1A10E6);
}

.bg-gra-02 {
    background: #F96458;
    background: -webkit-linear-gradient(top left, #F96458, #1A10E6);
    background: -moz-linear-gradient(top left, #F96458, #1A10E6);
    background: linear-gradient(to bottom right, #F96458, #1A10E6);
}


/* ==========================================================================
   #WRAPPER
   ========================================================================== */

.wrapper {
    margin: 0 auto;
}

.wrapper--w960 {
    max-width: 960px;
}

.wrapper--w780 {
    max-width: 780px;
}

.wrapper--w680 {
    max-width: 680px;
}


/* ==========================================================================
   #BUTTON
   ========================================================================== */

.btn {
    display: inline-block;
    line-height: 50px;
    padding: 0 50px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

.btn--radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn--radius-2 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn--pill {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.btn--green {
    background: #57b846;
}

.btn--green:hover {
    background: #4dae3c;
}

.btn--blue {
    background: #4272d7;
}

.btn--blue:hover {
    background: #3868cd;
}


/* ==========================================================================
   #FORM
   ========================================================================== */

input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
}

.input--style-4 {
    line-height: 50px;
    background: #fafafa;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.input--style-4::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #666;
}

.input--style-4:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #666;
    opacity: 1;
}

.input--style-4::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #666;
    opacity: 1;
}

.input--style-4:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #666;
}

.input--style-4:-ms-input-placeholder {
    /* Microsoft Edge */
    color: #666;
}

.label {
    font-size: 16px;
    color: #555;
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
}

.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    color: #666;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-container input:checked~.checkmark {
    background-color: #e5e5e5;
}

.radio-container input:checked~.checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #57b846;
}

.checkmark {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #e5e5e5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.input-group {
    position: relative;
    margin-bottom: 22px;
}

.input-group-icon {
    position: relative;
}

.input-icon {
    position: absolute;
    font-size: 18px;
    color: #999;
    right: 18px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}


/* ==========================================================================
   #TITLE
   ========================================================================== */

.title {
    font-size: 24px;
    color: #525252;
    font-weight: 400;
    margin-bottom: 40px;
}


/* ==========================================================================
   #CARD
   ========================================================================== */

.card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
}

.card-4 {
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-4 .card-body {
    padding: 57px 65px;
    padding-bottom: 65px;
}

@media (max-width: 767px) {
    .card-4 .card-body {
        padding: 50px 40px;
    }
}